---
import { defaultLanguage, type LanguageCode } from '@/i18n/ui';
import { getRelativeLocaleUrl } from 'astro:i18n';
import { Image } from 'astro:assets';
import logo from '@/assets/kronosoft-logo.png';

const currentLocale =
  (Astro.currentLocale as LanguageCode | undefined) ?? defaultLanguage;
---

<a href={getRelativeLocaleUrl(currentLocale)}>
  <Image
    src={logo}
    alt="KronoSoft logo"
    width={176}
    height={44}
    class="w-44 h-auto"
  />
</a>
